# Temporary and output files based on extension
*.o
*.x
*.swp
*.tmp
*.lst
*.list

# Output directories
bin/
build/

# Other temporary/output files
core

# Secrets
rpi_2b_secret.txt

# Reference documents
doc/

# Windows stuff
System\ Volume\ Information/



