# Temporary and output files based on extension
*.swp
*.tmp
*.list
*.lst
*.o
*.img
*.map
*.elf

# Editor
.exrc

# Output directories
bin/
build/

# Secrets
.env
rpi_2b_secret.txt

# Reference documents
doc/

# Windows stuff
System\ Volume\ Information/



